In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [8]:
df=pd.DataFrame({"name":["cow","red","cat","white","eye","gender"]})
df

     name
0     cow
1     red
2     cat
3   white
4     eye
5  gender

In [13]:
le=LabelEncoder()
en_name=le.fit_transform(df["name"])
en_name

array([1, 4, 0, 5, 2, 3])

In [15]:
df["en_name"]=en_name
df

     name  en_name
0     cow        1
1     red        4
2     cat        0
3   white        5
4     eye        2
5  gender        3