In [1]:
import pandas as pd

In [2]:
# Create Data Frame
df=pd.DataFrame({"Size":["S","M","XL","XXL","L","S","M","XXL","XL","S","S","M","M"]})
df.head()

  Size
0    S
1    M
2   XL
3  XXL
4    L

In [3]:
Ord_Data={"S":0,"M":1,"L":2,"XL":3,"XXL":4}

In [4]:
df["Size_Encoded"]=df["Size"].map(Ord_Data)
df

   Size  Size_Encoded
0     S             0
1     M             1
2    XL             3
3   XXL             4
4     L             2
5     S             0
6     M             1
7   XXL             4
8    XL             3
9     S             0
10    S             0
11    M             1
12    M             1